<h1>Meals</h1>

<%= link_to('Create New', new_meal_path, class: 'button') %>
<table class="table">
  <tr>
    <th></th>
    <th style="width: 20%;">Date</th>
    <th>Title</th>
  </tr>

  <!-- onclick="meal.show_meal(<# %= meal.id %>)" -->
  <% @meals.each do |meal| %>
      <tr  class="list-item">
        <td><%= link_to 'Delete', "#", :onclick => "meal.delete_meal(#{meal.id})", class: :button %></td>
        <td><%= meal.date %></td>
        <td><%= meal.title %></td>
      </tr>
  <% end %>
</table>