<h1>Listing Meals</h1>

<table class="table">
  <tr>
    <th style="width: 20%;">Date</th>
    <th>Title</th>
  </tr>

  <% @meals.each do |meal| %>
      <tr onclick="meal.show_meal(<%= meal.id %>)" class="list-item">
        <td><%= meal.date %></td>
        <td><%= meal.title %></td>
      </tr>
  <% end %>
</table>