<h1><%= @meal.title %></h1>
<p>A new FatFriday has been created and requires your attention.  Please visit
  <a href="<%= @url %>">here</a> to place your order.
</p>
<p>
  Visit <a href="<%= @meal.website %>"><%= @meal.website %></a> for the menu.
</p>
