/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$grey: #4c5257;
$light-blue: #4444AA;
$light-grey: #BFC2C6;
$background-blue: #d5e7f4;
$alert-success-green: #33CC00;
$alert-danger-red: #CC0000;

body{margin:0;font-family:Arial,sans-serif;font-size:14px;color: $grey; }
a {
  text-decoration: none;
  color: $light-blue;
}
a:hover {
  text-decoration: underline;
  color: $light-blue;
}
a:visited {
  color: $light-blue;
}

.pull-right { text-align: right;}
.navbar-text { margin-top: -100px; color: $grey; line-height: 70px; vertical-align: middle;}
.centered-login { width: 170px; margin: auto; }

#body {margin-left: 40px; margin-right: 40px;}

#title{background:linear-gradient(white,$light-grey);height:70px;width:100%;top:0;min-width:1000px;}
#title a{font-size:16px;padding:0 20px;display:inline-block;line-height:70px;height:70px;text-decoration:none;color:#2E2F30;}
#title a:hover {text-decoration: underline; }
#title img { width: 282px;
    position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.alert { height: 40px; width: 400px; position: absolute; left: calc(50% - 200px); border-radius: 5px;
    display: block; text-align: center; line-height: 40px; opacity: 0.8; border: solid 1px black;}

.alert-success { background-color: $alert-success-green; color: black;}
.alert-danger { background-color: $alert-danger-red; color: black;}

input[type=submit], .button {
  font-size:14px;text-decoration:none;color:$grey !important;
  padding:5px 16px;border:1px solid #999;
  border-radius:3px;display:inline-block;vertical-align:middle;
  margin-right:5px;cursor:pointer;background-color:#f0f0f0;
  background-image:linear-gradient(top,#f2f2f2 0%,#e6e6e6 100%);
  -webkit-touch-callout:none;-webkit-user-select:none;
  -khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}

.button:hover{border-color:#666;color: black;text-decoration:none}
.button:active {
  border-color:#666;background-color:#b3b3b3;
  background-image:none;
  box-shadow:inset 0 0 5px rgba(0,0,0,.3)
}

.popup { background-image: url(/assets/blackTransparentBg.png); position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 10; }
.popup > div { position: fixed; top: 50%; left: 50%; width: 550px; margin-left: -275px; border: 1px solid #434C55; background-color: white; padding: 20px; }
.popup .popup-title { background-color: #E8EBEE; padding: 20px; margin: -20px; margin-bottom: 20px; }
.popup .popup-content { max-height: 400px; overflow: auto; margin-bottom: 5px; }
.popup .btn, .popup .button { float: right; }

#user_email { width: 200px;}
input[type=password] { width: 200px;}

.text_area { width: 350px; height: 75px;}

.spacer {
  height: 6px;
  display: block;
}