// Place all the styles related to the meal controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background-blue: #d5e7f4;

.table {
  width: 60%; text-align: center; border-spacing: 0;
}

.table tr {height: 50px;}
.table > tbody > tr:hover { cursor: pointer; background-color: $background-blue;
  border: 1px solid darken($background-blue, 10%);}

.orders-table {
  width: 70%;
}
.orders-table thead th {
  width: 100%;
}

.orders-table tbody td {
  min-width: 25%;
  text-align: left;
  min-height: 25px;
}

.no-wrap {
  text-wrap: none;
  white-space: nowrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  float: right;
}
.title {
  text-align: center;
}

.total-row {
  text-align: right;
  border-top: double 1px black;
}

.disabled-row {
  border-spacing: 0;
  font-style: oblique;
  color: lightgray;
}

.disabled-row input[type=checkbox] {
  color: lightgray;
}