<!DOCTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
      a { text-decoration: none; color:#00B8E4; }
      a:visited { color: #00B8E4; }
      a:hover { text-decoration: underline; }
      </style>
   </head>
   <body style="width: 600px; padding: 20px; background-color: #d5e7f4; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;color: #4c5257;">
        <span style="display:block; background:linear-gradient(white,#BFC2C6);height:40px;width:100%;top:0;min-width:600px;">
        <span style="font-size: 40px; font-weight: bold;margin-right:-8px;">Enable</span>
        <span style="font-size: 40px; color: #00B8E4;">Food</span>
        </span>

        <%= yield %>

    </body>
</html>